<div class="row">
    <div class="col-3">
        <app-search></app-search>
    </div>
    <div class="col-9 mt-2 ">
        <span class="mb-3" style="color:white;">
            <i class="fa fa-map-marker"></i>
            <span class="mx-1"><u>411057, Pune</u></span>
        </span>
        <span class="float-right">
            <span style="color:white;" (click)="logout();">
                <i class="fa fa-sign-out ml-5"></i>
            </span>
            <span style="color:white;">
                <i class="fa fa-cart-arrow-down mx-4" aria-hidden="true"> Cart </i>
            </span>
            <img class="w-50 float-right" style="height: 35px;"
                src="https://media-exp1.licdn.com/dms/image/C510BAQEfSLbdKfr-wA/company-logo_200_200/0/1554127300599?e=1625702400&v=beta&t=cTCpwozCGo7r-L-60ydxgwbCeoqNZo3bRmWSLm3wvNw">
        </span>
    </div>
</div>